<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% block title %}  Food Trucks Nearby in SF  {% endblock %} </title>

	{% load staticfiles %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtv07MZFTvoW8ION6S4LlM_oTBC9EHw0A">  </script>
    <script type="text/javascript" src="{% static 'foodtrucks/maps.js' %}"></script>

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
